<ol class="pagination">
	<li class="current"><a href="@Model.url">1</a></li>
	<li><a href="@Model.url">2</a></li>
	<li><a href="@Model.url">3</a></li>
	<li><a href="@Model.url">4</a></li>
	<li><a href="@Model.url">5</a></li>
	<li><a href="@Model.url">6</a></li>
	<li><a href="@Model.url">7</a></li>
</ol>