@model IEnumerable<PatternLab.Models.Pattern>

<div id="patterns">
    @foreach (var pattern in Model)
    {
        <li>ID: @pattern.Id<br />Level: @pattern.Level<br />Name: @pattern.Name<br />View: @pattern.View<br />URL: @pattern.Url</li>
    }
</div>